/*
 * GothamBlack
 */
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBlack/GothamBlack.eot');
    src: url('./fonts/GothamBlack/GothamBlack.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamBlack/GothamBlack.woff') format('woff'),
    url('./fonts/GothamBlack/GothamBlack.ttf') format('truetype'),
    url('./fonts/GothamBlack/GothamBlack.svg#GothamBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBlack/GothamBlack-Italic.eot');
    src: url('./fonts/GothamBlack/GothamBlack-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamBlack/GothamBlack-Italic.woff') format('woff'),
    url('./fonts/GothamBlack/GothamBlack-Italic.ttf') format('truetype'),
    url('./fonts/GothamBlack/GothamBlack-Italic.svg#GothamBlack-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
}

/*
 * GothamUltra
 */
@font-face {
    font-family: 'GothamUltra';
    src: url('./fonts/GothamUltra/GothamUltra.eot');
    src: url('./fonts/GothamUltra/GothamUltra.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamUltra/GothamUltra.woff') format('woff'),
    url('./fonts/GothamUltra/GothamUltra.ttf') format('truetype'),
    url('./fonts/GothamUltra/GothamUltra.svg#GothamUltra') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GothamUltra';
    src: url('./fonts/GothamUltra/GothamUltra-Italic.eot');
    src: url('./fonts/GothamUltra/GothamUltra-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamUltra/GothamUltra-Italic.woff') format('woff'),
    url('./fonts/GothamUltra/GothamUltra-Italic.ttf') format('truetype'),
    url('./fonts/GothamUltra/GothamUltra-Italic.svg#GothamUltra-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
}

/*
 * GothamBold
 */
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBold/GothamBold.eot');
    src: url('./fonts/GothamBold/GothamBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamBold/GothamBold.woff') format('woff'),
    url('./fonts/GothamBold/GothamBold.ttf') format('truetype'),
    url('./fonts/GothamBold/GothamBold.svg#GothamBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBold/GothamBold-Italic.eot');
    src: url('./fonts/GothamBold/GothamBold-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamBold/GothamBold-Italic.woff') format('woff'),
    url('./fonts/GothamBold/GothamBold-Italic.ttf') format('truetype'),
    url('./fonts/GothamBold/GothamBold-Italic.svg#GothamBold-Italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/*
 * GothamMedium
 */
@font-face {
    font-family: 'GothamMedium';
    src: url('./fonts/GothamMedium/GothamMedium.eot');
    src: url('./fonts/GothamMedium/GothamMedium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamMedium/GothamMedium.woff') format('woff'),
    url('./fonts/GothamMedium/GothamMedium.ttf') format('truetype'),
    url('./fonts/GothamMedium/GothamMedium.svg#GothamMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamMedium/GothamMedium-Italic.eot');
    src: url('./fonts/GothamMedium/GothamMedium-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamMedium/GothamMedium-Italic.woff') format('woff'),
    url('./fonts/GothamMedium/GothamMedium-Italic.ttf') format('truetype'),
    url('./fonts/GothamMedium/GothamMedium-Italic.svg#GothamMedium-Italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

/*
 * GothamBook
 */
@font-face {
    font-family: 'GothamBook';
    src: url('./fonts/GothamBook/GothamBook.eot');
    src: url('./fonts/GothamBook/GothamBook.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamBook/GothamBook.woff') format('woff'),
    url('./fonts/GothamBook/GothamBook.ttf') format('truetype'),
    url('./fonts/GothamBook/GothamBook.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBook';
    src: url('./fonts/GothamBook/GothamBook-Italic.eot');
    src: url('./fonts/GothamBook/GothamBook-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamBook/GothamBook-Italic.woff') format('woff'),
    url('./fonts/GothamBook/GothamBook-Italic.ttf') format('truetype'),
    url('./fonts/GothamBook/GothamBook-Italic.svg#GothamBook-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*
 * GothamLight
 */
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamLight/GothamLight.eot');
    src: url('./fonts/GothamLight/GothamLight.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamLight/GothamLight.woff') format('woff'),
    url('./fonts/GothamLight/GothamLight.ttf') format('truetype'),
    url('./fonts/GothamLight/GothamLight.svg#GothamLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamLight/GothamLight-Italic.eot');
    src: url('./fonts/GothamLight/GothamLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamLight/GothamLight-Italic.woff') format('woff'),
    url('./fonts/GothamLight/GothamLight-Italic.ttf') format('truetype'),
    url('./fonts/GothamLight/GothamLight-Italic.svg#GothamLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

/*
 * GothamXLight
 */
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamXLight/GothamExtraLight.eot');
    src: url('./fonts/GothamXLight/GothamExtraLight.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamXLight/GothamExtraLight.woff') format('woff'),
    url('./fonts/GothamXLight/GothamExtraLight.ttf') format('truetype'),
    url('./fonts/GothamXLight/GothamExtraLight.svg#GothamExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamXLight/GothamExtraLight-Italic.eot');
    src: url('./fonts/GothamXLight/GothamExtraLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamXLight/GothamExtraLight-Italic.woff') format('woff'),
    url('./fonts/GothamXLight/GothamExtraLight-Italic.ttf') format('truetype'),
    url('./fonts/GothamXLight/GothamExtraLight-Italic.svg#GothamExtraLight-Italic') format('svg');
    font-weight: 200;
    font-style: italic;
}

/*
 * GothamThin
 */
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamThin/GothamThin.eot');
    src: url('./fonts/GothamThin/GothamThin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamThin/GothamThin.woff') format('woff'),
    url('./fonts/GothamThin/GothamThin.ttf') format('truetype'),
    url('./fonts/GothamThin/GothamThin.svg#GothamThin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamThin/GothamThin-Italic.eot');
    src: url('./fonts/GothamThin/GothamThin-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GothamThin/GothamThin-Italic.woff') format('woff'),
    url('./fonts/GothamThin/GothamThin-Italic.ttf') format('truetype'),
    url('./fonts/GothamThin/GothamThin-Italic.svg#GothamThin-Italic') format('svg');
    font-weight: 100;
    font-style: italic;
}

